<div class="animating-image-revealer animating-image-revealer--type-{{ type }}">
  <div class="image-animation-progress-bar--wrap">
    <div class="image-animation-progress-bar"></div>
  </div>
</div>
