<div class="comment__content">
  {{ comment.content }}
</div>
<div class="comment__meta">
  <h4 class="comment__author">{{ comment.author }}</h4>
  <span class="comment__date t-subdued">{{ comment.created_at | time_tag: format: 'date' }}</span>
</div>
