{%- liquid
  comment
    Renders a "Text" product block.

    Required parameters:
      - block: { Object } The associated block object.
  endcomment
-%}

<div
  class="product-details__text"
  style="--bottom-spacing: {{ block.settings.bottom_padding }}px;"
  {{ block.shopify_attributes }}
>
  {%- render 'content-block-text', block: block, animate: false -%}
</div>
