{% liquid
  comment
    Renders a search input. Used in the predictive search drawer, and on the
    search page.

    Optional parameters:
      - search_term: { String } The current search term to be used as the default value
          of the input.
  endcomment

  echo 'component-search-input.css' | asset_url | stylesheet_tag
  render 'inline-scripts', script_name: 'search-input'

  assign search_id = 'search-input--[[sid]]' | replace: '[[sid]]', section.id
  assign search_label = 'search.general.search' | t
%}

<search-input>
  {%- render 'input-text',
    id: search_id,
    name: 'q',
    label: search_label,
    input_type: 'search',
    placeholder: search_label,
    attributes: 'autocomplete="off"',
    default_value: search_term
  -%}

  <div class="search-input__controls">
    <button
      type="button"
      class="search-input__clear-button"
      aria-label="{{ 'search.general.clear' | t }}"
      js-clear-button
    >
      <div class="search-input__clear-button-disc">
        {% render 'icon-utility', icon: 'cross-small', width: 8, height: 8 %}
      </div>
    </button>

    <div class="search-input__status">
      <button type="submit" class="search-input__status-submit" aria-label="{{ 'search.general.submit' | t }}">
        {% render 'icon-utility', icon: 'search', width: 20, height: 20 %}
        {%- render 'loader',
          background_color_var: '--color-background',
          foreground_color_var: '--color-text',
          loader_size: 18
        -%}
      </button>
    </div>
  </div>
</search-input>
