{%- liquid
  comment
    Renders all social icons.

    Optional parameters:
      - class: { String } The ul's class.
  endcomment
-%}

{%- capture social_icon_structure -%}
  <li>
    <a
      href="[[link]]"
      title="[[title]]"
      target="_blank"
      rel="noopener"
    >
      [[icon]]
    </a>
  </li>
{%- endcapture -%}

{%- liquid
  assign social_accounts = 'Facebook, Instagram, LinkedIn, Pinterest, Snapchat, TikTok, Tumblr, Twitter, Vimeo, WhatsApp, YouTube' | split: ', '

  capture social_icons
    for account in social_accounts
      assign account_handle = account | handleize
      assign account_setting = 'social_[[a]]_link' | replace: '[[a]]', account_handle

      if settings[account_setting] != blank
        assign icon_name = 'social-' | append: account_handle

        capture title
          echo 'general.social.alt_text.social_icon' | t: name: shop.name, platform: account
        endcapture

        capture icon
          render 'icon-utility', icon: icon_name
        endcapture

        echo social_icon_structure | replace: '[[link]]', settings[account_setting] | replace: '[[title]]', title | replace: '[[icon]]', icon
      endif
    endfor
  endcapture
-%}

{%- if social_icons != blank -%}
  <ul class="social-icons {%- if class != blank %} {{ class }}{%- endif -%}">
    {{ social_icons }}
  </ul>
{%- endif -%}
