<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {%- liquid
      render 'standard-page-meta'
      render 'standard-link-elements'

      assign password_page_opening_soon = 'general.password_page.opening_soon' | t
      echo '<title>[[sn]] - [[ppos]]</title>' | replace: '[[sn]]', shop.name | replace: '[[ppos]]', password_page_opening_soon

      render 'social-meta-tags'

      render 'theme-setup'
      render 'theme-setting-vars'
      render 'theme-globals'

      if request.design_mode
        render 'inline-scripts', load_all: true
      endif
    -%}

    {{ content_for_header }}
  </head>

  <body class="template-password">
    <div class="page">
      {% if settings.enable_page_transitions -%}
        {% render 'page-transition-overlay' %}
      {%- endif %}

      {% section 'password-header' %}

      <main id="main" class="main">
        {{ content_for_layout }}
      </main>

      {% render 'flash-alert' %}
    </div>
  </body>
</html>
