{% liquid
  echo 'section-rich-text.css' | asset_url | stylesheet_tag
%}

<div
  class="section rich-text"
  style="
    {% render 'settings-section-padding' %}
    {% render 'color-scheme-to-vars', color_scheme: section.settings.color_scheme %}
    {% if section.settings.content_width == 'custom-width' %}
      --custom-width: {{ section.settings.custom_width }}px;
    {% endif %}
  "
>
  <div class="section-inner section-inner--width-{{ section.settings.width }}">
    {%- render 'content-blocks',
      blocks: section.blocks,
      alignment: section.settings.text_alignment,
      animate_heading: true
    -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:shared.settings.color_scheme.label",
      "default": "scheme_1"
    },
    {
      "type": "header",
      "content": "t:shared.settings.content_layout.header.content"
    },
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.content_layout.content_width.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:shared.settings.content_layout.content_width.options.full_width"
        },
        {
          "value": "custom-width",
          "label": "t:shared.settings.content_layout.content_width.options.custom"
        }
      ],
      "default": "custom-width"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:shared.settings.content_layout.custom_width.label",
      "info": "t:shared.settings.content_layout.custom_width.info",
      "min": 400,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 650
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.rich_text.settings.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:shared.options.alignment.horizontal.left"
        },
        {
          "value": "center",
          "label": "t:shared.options.alignment.horizontal.center"
        },
        {
          "value": "right",
          "label": "t:shared.options.alignment.horizontal.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_settings.header.content"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:shared.settings.section_settings.width.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:shared.settings.section_settings.width.options.page_width"
        },
        {
          "value": "full-width-padded",
          "label": "t:shared.settings.section_settings.width.options.full_width_padded_simplified_language"
        }
      ],
      "info": "t:shared.settings.section_settings.width.info"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:shared.settings.section_settings.top_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:shared.settings.section_settings.bottom_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "overline",
      "name": "t:shared.content_blocks.overline.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:shared.content_blocks.overline.settings.text.label",
          "default": "t:shared.content_blocks.overline.settings.text.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.content_blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:shared.content_blocks.heading.settings.heading.label",
          "default": "t:shared.content_blocks.heading.settings.heading.default"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_heading",
          "info": "t:shared.settings.text_size.info",
          "default": 8
        },
        {
          "id": "heading_tag",
          "type": "select",
          "label": "t:shared.settings.heading_tag.label",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "info": "t:shared.settings.heading_tag.info",
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.content_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.content_blocks.text.settings.text.label",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "button",
      "name": "t:shared.content_blocks.button.name",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "t:shared.content_blocks.button.settings.button_link.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:shared.content_blocks.button.settings.button_label.label",
          "info": "t:shared.content_blocks.button.settings.button_label.info",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:shared.settings.button_style.options.solid"
            },
            {
              "value": "outline",
              "label": "t:shared.settings.button_style.options.outline"
            },
            {
              "value": "text",
              "label": "t:shared.settings.button_style.options.text"
            }
          ],
          "default": "solid"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.content_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.content_blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:shared.content_blocks.image.settings.image_size.label",
          "info": "t:shared.content_blocks.image.settings.image_size.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 500
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "t:shared.content_blocks.image.settings.image_size_mobile.label",
          "info": "t:shared.content_blocks.image.settings.image_size_mobile.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 250
        },
        {
          "type": "checkbox",
          "id": "enable_corner_radius",
          "default": true,
          "label": "t:shared.settings.image_rounding.enable_corner_radius.label",
          "info": "t:shared.settings.image_rounding.enable_corner_radius.info"
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:shared.content_blocks.divider.name",
      "settings": [
        {
          "type": "range",
          "id": "thickness",
          "label": "t:shared.content_blocks.divider.settings.thickness.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "default": 1
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.desktop_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.mobile_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:shared.content_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.content_blocks.spacer.settings.space.label",
          "min": 1,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "space_mobile",
          "label": "t:shared.content_blocks.spacer.settings.space_mobile.label",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 40
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:shared.content_blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:shared.content_blocks.liquid.settings.custom_liquid.label",
          "info": "t:shared.content_blocks.liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "blocks": [
        {
          "type": "overline"
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Rich text",
            "heading_font_size": 5
          }
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        },
        {
          "type": "button",
          "settings": {
            "button_style": "outline"
          }
        }
      ]
    }
  ]
}
{% endschema %}
