:root{
  --js-mobile:(max-width: 719.9px);
  --js-tablet:(min-width: 720px);
  --js-below-small-desktop:(max-width: 1023.9px);
  --js-small-desktop:(min-width: 1024px);
  --js-desktop:(min-width: 1440px);
  --js-max-page-width:(min-width: 1600px);
}
.responsive-table{
  width:100%;
  border-collapse:collapse;
}
.responsive-table s{
    opacity:0.5;
  }
@media (min-width: 720px){
.responsive-table tr{
      padding:0
  }
    }
.responsive-table th{
    padding:0 var(--spacing-300) var(--spacing-300) var(--spacing-300);
    border-bottom:1px solid var(--color-lines-and-borders);
    white-space:nowrap;
  }
.responsive-table td{
    white-space:nowrap;
  }
@media (min-width: 720px){
.responsive-table td{
      padding:var(--spacing-300);
      border-bottom:1px solid var(--color-lines-and-borders)
  }
    }
.responsive-table td:first-of-type,
  .responsive-table th:first-of-type{
    padding-left:0;
  }
.responsive-table td:last-of-type,
  .responsive-table th:last-of-type{
    padding-right:0;
  }
@media (max-width: 719.9px){
.responsive-table td:last-of-type,
  .responsive-table th:last-of-type{
      padding-right:var(--spacing-300)
  }
    }
@media (max-width: 719.9px){
.responsive-table .ta-r--price{
      display:flex
  }
    }
.responsive-table .ta-r--price dl{
      margin:0;
    }
@media (max-width: 719.9px){
.responsive-table .ta-r--price dl{
        display:flex;
        align-items:center
    }

        .responsive-table .ta-r--price dl s{
          margin-right:var(--spacing-100);
        }
      }
.responsive-table .ta-r--price dd{
      margin-left:0;
    }
@media (max-width: 719.9px){
.responsive-table .ta-r--price .unit-price-wrapper{
        margin-left:var(--spacing-75)
    }
      }
@media (max-width: 719.9px){
    .responsive-table,
    .responsive-table tbody{
      display:block;
      width:100%;
    }

    .responsive-table thead{
      display:none;
    }

    .responsive-table tr,
    .responsive-table th,
    .responsive-table td{
      display:block;
      padding:0;
      text-align:left;
      white-space:normal;
    }

    .responsive-table tr{
      padding-top:var(--spacing-250);
      margin-top:var(--spacing-250);
    }

    .responsive-table tr:first-of-type{
      padding-top:0;
      margin-top:0;
    }

    .responsive-table tr + tr{
      border-top:1px solid var(--color-lines-and-borders);
    }

    .responsive-table th[data-label]:before,
    .responsive-table td[data-label]:before{
      content:attr(data-label) ":\00A0";
      font-weight:bold;
    }

    .responsive-table td{
      border:none;
    }

    .responsive-table td:empty{
      display:none;
    }

    .responsive-table td:first-child{
      margin-bottom:var(--spacing-50);
    }

    .responsive-table td:first-child:before{
      content:"";
    }
  }
