:root{
  --js-mobile:(max-width: 719.9px);
  --js-tablet:(min-width: 720px);
  --js-below-small-desktop:(max-width: 1023.9px);
  --js-small-desktop:(min-width: 1024px);
  --js-desktop:(min-width: 1440px);
  --js-max-page-width:(min-width: 1600px);
}
@keyframes contentOverlineAnimation{
  100%{
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentHeadingAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentContentAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentSliderAnimation{
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
cross-sells{
  display:block;
}
.cross-sells-inner .animation-overline{
    transform:translateY(10px);
    opacity:0;
  }
.cross-sells-inner .animation-heading{
    -webkit-mask-image:linear-gradient(to left, transparent 0%, black 20%);
            mask-image:linear-gradient(to left, transparent 0%, black 20%);
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    transform:translateY(20px);
    opacity:0;
  }
.cross-sells-inner .animation-content{
    -webkit-mask-image:linear-gradient(to left, transparent 0%, black 20%);
            mask-image:linear-gradient(to left, transparent 0%, black 20%);
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    transform:translateY(20px);
    opacity:0;
  }
.cross-sells-inner .animation-slider{
    transform:translateX(35px);
    opacity:0;
  }
@media (min-width: 1024px){
      .cross-sells-inner .animation-slider:not(.animation-slider--small){
        transform:translateX(50px);
      }
    }
.cross-sells-inner.became-visible .animation-heading{
      animation-name:contentHeadingAnimation;
      animation-duration:var(--animation-timing-800);
      animation-delay:0;
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.cross-sells-inner.became-visible .animation-overline{
      animation-name:contentOverlineAnimation;
      animation-duration:var(--animation-timing-400);
      animation-delay:calc(0 + var(--animation-timing-75));
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.cross-sells-inner.became-visible .animation-content{
      animation-name:contentContentAnimation;
      animation-duration:var(--animation-timing-900);
      animation-delay:calc(0 + var(--animation-timing-75));
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.cross-sells-inner.became-visible .animation-slider{
      animation-name:contentSliderAnimation;
      animation-duration:var(--animation-timing-400);
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
@media (min-width: 1024px){
        .cross-sells-inner.became-visible .animation-slider:not(.animation-slider--small){
          animation-duration:var(--animation-timing-500);
        }
      }
.cross-sells__header{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:var(--spacing-200);
}
.cross-sells__nav_items{
  display:flex;
  gap:var(--spacing-75);
}
@media (max-width: 1023.9px){
.cross-sells__nav_items{
    display:none
}
  }
.cross-sells__nav_items .scroll-slider-nav-button-wrapper .scroll-slider-nav-button{
    padding:0;
  }
.cross-sells--layout-list .cross-sells-item{
    margin:var(--spacing-250) 0;
  }
.cross-sells--layout-list .cross-sells-item:last-child{
      margin-bottom:0;
    }
.cross-sells-item.has-error .cross-sells-item__error-display{
      display:block;
    }
.cross-sells-item .product-item-minimal{
    height:100%;
  }
.cross-sells-item .product-item-minimal .product-item-minimal__image .image,
      .cross-sells-item .product-item-minimal .product-item-minimal__image .placeholder-image{
        width:80px;
      }
@media (min-width: 720px){
.cross-sells-item .product-item-minimal .product-item-minimal__image .image,
      .cross-sells-item .product-item-minimal .product-item-minimal__image .placeholder-image{
          width:120px
      }
        }
@media (max-width: 719.9px){
.cross-sells-item__add-button.btn.btn--size-small{
      padding:var(--button-padding-x-small)
  }
    }
.cross-sells-item__error-display{
  display:none;
  margin-bottom:var(--spacing-150);
}
