:root{
  --js-mobile:(max-width: 719.9px);
  --js-tablet:(min-width: 720px);
  --js-below-small-desktop:(max-width: 1023.9px);
  --js-small-desktop:(min-width: 1024px);
  --js-desktop:(min-width: 1440px);
  --js-max-page-width:(min-width: 1600px);
}
@keyframes contentOverlineAnimation{
  100%{
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentHeadingAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentContentAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentSliderAnimation{
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
.scroll-slider-page-dots{
  margin-top:var(--spacing-350);
  margin-left:var(--spacing-300);
  margin-right:var(--spacing-300);
}
.scroll-slider-page-dots[data-dot-count="1"]{
    display:none;
  }
@media (min-width: 1024px){
.scroll-slider-page-dots{
    margin-top:var(--spacing-300)
}
  }
.scroll-slider-page-dots-inner{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  gap:var(--spacing-125);
  --default-bullet-size:5px;
  --active-bullet-size:9px;
  --autoplay-active-bullet-size:24px;
}
.scroll-slider-page-dot-wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
  width:var(--active-bullet-size);
  height:var(--active-bullet-size);
}
.scroll-slider-page-dot{
  padding:var(--default-bullet-size);
  -webkit-appearance:none;
          appearance:none;
  background:none;
  border:none;
  opacity:0.4;
  transition:opacity var(--animation-timing-400) var(--ease-out-quart);
  cursor:pointer;
}
.scroll-slider-page-dot-inner{
  width:var(--default-bullet-size);
  height:var(--default-bullet-size);
  background-color:currentColor;
  border-radius:var(--default-bullet-size);
  box-shadow:inset 0 0 0 1.111px currentColor;
  transition-property:transform, background-color;
  transition-duration:var(--animation-timing-400);
  transition-timing-function:var(--ease-out-quart);
  pointer-events:none;
}
.scroll-slider-page-dot.active{
  opacity:1;
}
.scroll-slider-page-dot.active .scroll-slider-page-dot-inner{
    background-color:transparent;
    transform:scale(1.8);
    transform-origin:center;
  }
