search-input{
  position:relative;
  display:block;
  width:100%;
}

  search-input .custom-input-wrapper,
  search-input .custom-input,
  search-input .custom-input input{
    width:100%;
  }

  search-input input{
    padding-right:100px;
  }

  search-input:has(input:placeholder-shown) .search-input__clear-button{
      opacity:0;
      pointer-events:none;
    }

.search-input__controls{
  position:absolute;
  right:10px;
  top:0;
  bottom:0;
  display:flex;
  align-items:center;
  justify-content:center;
}

.search-input__clear-button{
  background:none;
  border:none;
  padding:5px;
  cursor:pointer;
  transition:opacity var(--animation-timing-200) var(--ease-out-quart);
}

.search-input__clear-button:not(:hover){
    opacity:0.5;
  }

.search-input__clear-button-disc{
  width:16px;
  height:16px;
  border-radius:100%;
  background-color:var(--color-text);
  display:flex;
  align-items:center;
  justify-content:center;
}

.search-input__clear-button-disc .icon{
    color:var(--color-background);
  }

.search-input__status{
  width:30px;
  height:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  margin-left:4px;
}

@media (--small-desktop){

.search-input__status{
    margin-left:8px
}
  }

.search-input__status .loader,
  .search-input__status .icon{
    position:absolute;
  }

search-input:not(.in-progress) .search-input__status .icon{
      opacity:1;
      transition:opacity var(--animation-timing-200) var(--ease-out-quart);
    }

search-input:not(.in-progress) .search-input__status .loader{
      opacity:0;
    }

search-input.in-progress .search-input__status .icon{
      opacity:0;
    }

search-input.in-progress .search-input__status .loader{
      opacity:1;
      transition:opacity var(--animation-timing-200) var(--ease-out-quart);
    }

.search-input__status-submit{
  display:flex;
  align-items:center;
  background:none;
  border:none;
  -webkit-appearance:none;
          appearance:none;
  cursor:pointer;
}

search-input.in-progress .search-input__status-submit{
    pointer-events:none;
  }

.search-input__status-submit::before{
    content:"";
    visibility:hidden;
    position:absolute;
    top:-4px;
    right:-4px;
    bottom:-4px;
    left:-4px;
    background-color:var(--color-text-alpha-10);
    border-radius:100%;
    transform:scale(0);
    transition-property:visibility, transform;
    transition-duration:0;
    transition-timing-function:var(--ease-out-quart);
  }

.search-input__status-submit:hover::before{
      visibility:visible;
      transform:scale(1);
      transition-duration:var(--animation-timing-300);
    }

.search-input__status-submit .icon{
    position:static;
    position:initial;
  }
