:root{
  --js-mobile:(max-width: 719.9px);
  --js-tablet:(min-width: 720px);
  --js-below-small-desktop:(max-width: 1023.9px);
  --js-small-desktop:(min-width: 1024px);
  --js-desktop:(min-width: 1440px);
  --js-max-page-width:(min-width: 1600px);
}
@keyframes contentOverlineAnimation{
  100%{
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentHeadingAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentContentAnimation{
  0%{
    -webkit-mask-size:0% 100%;
            mask-size:0% 100%;
  }

  100%{
    -webkit-mask-size:120% 100%;
            mask-size:120% 100%;
    transform:translateY(0);
    opacity:1;
  }
}
@keyframes contentSliderAnimation{
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
.page-section .page-placeholder{
  background-color:var(--color-text-alpha-10);
  fill:var(--color-text);
}
.page-section a{
  padding-bottom:1px;
  background:linear-gradient(90deg, var(--color-text), var(--color-text));
  background-size:100% 1px;
  background-position-x:0%;
  background-position-y:calc(100% - 1px);
  background-repeat:no-repeat;
  -webkit-text-decoration:none;
  text-decoration:none;
}
.page-section a:hover{
    animation:underlinedLinkHover var(--animation-timing-750) var(--ease-in-out);
  }
.page-section__header,
.page .page__header{
  margin-bottom:var(--spacing-600);
}
@media (min-width: 1024px){
.page-section__header,
.page .page__header{
    margin-bottom:var(--spacing-700);
}
  }
.page-section__header .animation-overline, .page .page__header .animation-overline{
    transform:translateY(10px);
    opacity:0;
  }
.page-section__header .animation-heading, .page .page__header .animation-heading{
    -webkit-mask-image:linear-gradient(to left, transparent 0%, black 20%);
            mask-image:linear-gradient(to left, transparent 0%, black 20%);
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    transform:translateY(20px);
    opacity:0;
  }
.page-section__header .animation-content, .page .page__header .animation-content{
    -webkit-mask-image:linear-gradient(to left, transparent 0%, black 20%);
            mask-image:linear-gradient(to left, transparent 0%, black 20%);
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    transform:translateY(20px);
    opacity:0;
  }
.page-section__header .animation-slider, .page .page__header .animation-slider{
    transform:translateX(35px);
    opacity:0;
  }
@media (min-width: 1024px){
      .page-section__header .animation-slider:not(.animation-slider--small), .page .page__header .animation-slider:not(.animation-slider--small){
        transform:translateX(50px);
      }
    }
.page-section__header.became-visible .animation-heading, .page .page__header.became-visible .animation-heading{
      animation-name:contentHeadingAnimation;
      animation-duration:var(--animation-timing-800);
      animation-delay:0;
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.page-section__header.became-visible .animation-overline, .page .page__header.became-visible .animation-overline{
      animation-name:contentOverlineAnimation;
      animation-duration:var(--animation-timing-400);
      animation-delay:calc(0 + var(--animation-timing-75));
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.page-section__header.became-visible .animation-content, .page .page__header.became-visible .animation-content{
      animation-name:contentContentAnimation;
      animation-duration:var(--animation-timing-900);
      animation-delay:calc(0 + var(--animation-timing-75));
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
.page-section__header.became-visible .animation-slider, .page .page__header.became-visible .animation-slider{
      animation-name:contentSliderAnimation;
      animation-duration:var(--animation-timing-400);
      animation-timing-function:var(--ease-out-quart);
      animation-fill-mode:forwards;
    }
@media (min-width: 1024px){
        .page-section__header.became-visible .animation-slider:not(.animation-slider--small), .page .page__header.became-visible .animation-slider:not(.animation-slider--small){
          animation-duration:var(--animation-timing-500);
        }
      }
.page-section__heading-wrapper{
  display:flex;
  justify-content:center;
}
.page-section__heading{
  width:max-content;
  text-wrap:balance;
}
.page-section__heading.animation-heading{
    margin:0 calc(var(--horizontal-font-padding) * -1) calc(var(--bottom-font-padding) * -1);
    padding:0 var(--horizontal-font-padding) var(--bottom-font-padding);
  }
.page-section rte-container:last-child *{
  margin-bottom:0;
}
